/*
  style.css for Hangman_html
*/
	
p.the_word, p.guesses, p.guesses_left {
		
	margin: 0px 50px;
	font-weight: bold;
	font-size: 24px;
		
}
img {
		
	width: 200px;
	height: 200px;
	margin: 5px 80px;
	border: 1px solid #777;
}
button:hover {
	border: 1px solid #777;
}
button.newGame {
	margin: 0px 50px;
}

button {	
	background-color: lightgreen;
	font-size: 16px;		
}
